.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  gap: 2rem;
}
.container p {
  color: #fff;
  font-size: 1rem;
}
.container p span {
  text-transform: uppercase;
  color: gold;
}

.ListContainer {
  display: flex;
  align-items: center;
  margin-top: 30px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.List {
  background-color: #f2f2f2;
  width: 470px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 380px;
  scrollbar-width: thin; /* Para navegadores que não suportam ::webkit-scrollbar */
}
.List.ConditionalStyle {
  height: auto;
}
.List::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.List::-webkit-scrollbar-thumb {
  background-color: #6a6a6a; /* Cor do polegar (a parte móvel da barra de rolagem) */
  border-radius: 8px; /* Borda arredondada do polegar */
}

.List::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Cor da pista (a parte fixa da barra de rolagem) */
  border-radius: 10px; /* Borda arredondada da pista */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra leve para dar profundidade */
}

.List li {
  background-color: #444;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  color: #ddd;
  font-weight: bold;
  transition: background-color 0.3s;
  position: relative;
  font-size: 0.9rem;
}

.List li:hover {
  color: gold;
}
.List li::before {
  content: '\25B6'; /* Código Unicode para o ícone de play */
  font-size: 18px;
  color: gold;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.List li span {
  margin-left: 30px; /* Espaçamento à esquerda para o ícone de play */
}

.List li:hover {
  background-color: #ddd;
  color: #111;
}
