.arrowLeft,
.arrowRight {
  font-size: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.arrowLeft:hover,
.arrowRight:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}

@media (max-width: 800px) {
  .arrowLeft,
  .arrowRight {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
  }
}
